*{
	padding: 0;
	margin: 0;
}
body{
	background: rgba(215, 211, 211, 0.3);
	font-family: 'Poppins', sans-serif;
}
.contenedor{
	width: 95%;
	max-width: 1124px;
	margin: 0 auto;

	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(7, auto);

	grid-template-areas: "header  header"
						 "slider slider"
						 "titulo titulo"
						 "adopta1 adopta2"
						 "doctor doctor"	
						 "sponsor sponsor"
						 "footer footer";	
}

.contenedor .cabeceraPrincipal{
	grid-area: header;
	background-color: #B5EF8A;
	display: flex;
	justify-content: space-between;
}

.contenedor .cabeceraPrincipal .logotipo{
	padding: 10px 20px;
}

.contenedor .cabeceraPrincipal nav {
	display: flex;
	align-items: center;
}

.contenedor .cabeceraPrincipal nav a {
	text-decoration: none;
	padding: 0 20px;
	color: #65524d;
}

.contenedor .cabeceraPrincipal nav a:hover {
	background-color: #65524d;
	color: #fff;
}


/* Header */

.contenedor .sliderPrincipal{
	grid-area: slider;
	background-color: #333;
}

.contenedor .sliderPrincipal img{
	width: 100%;
}

.contenedor .titulo h2{
	color: #9c9b9b;
	font-size: 40px;
	font-weight: 300;
	padding: 30px 0;
}

.contenedor .adopcion1{
	grid-area: adopta1;
	background-color: #666;
	display: flex;
	justify-content: space-between;
}

.contenedor .adopcion1 .cardog h3 {  
	font-size: 25px;
	color:#817e9f;
	text-transform: uppercase;
	padding: 5px 10px;
}

.contenedor .adopcion1 .cardog p {
	padding: 5px 10px;
	color: #605b5b
}

.contenedor .adopcion2{
	grid-area: adopta2;
	background-color: #333;
}
.contenedor .doctor{
	grid-area: doctor;
	background-color: #333;
}
.contenedor .sponsor{
	grid-area: sponsor;
	background-color: #333;
}
.contenedor .piePagina{
	grid-area: footer;
	background-color: #1b1b1b;
	color: #a3a3a3;
	display: flex;
	justify-content: space-between;
}

.piePagina .derechos {
	color: #a3a3a3;
	padding: 30px 50px;
}

.contenedor .piePagina .redesSociales {
	display: flex;
	align-items: center;
}

.
.contenedor .piePagina .redesSociales a {
	color: #d7f171;
	text-decoration: none;
	padding: 0 20px;
	font-size: 25px;
}

.contenedor .piePagina .redesSociales a:hover {
	color: #fff;
}